<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
       <listener class-name="listener.StepListener"/>
        <!--<listener class-name="listener.Listener"/>-->
    </listeners>

    <test verbose="2" preserve-order="true" name="/Users/sushil/Documents/parabanks/APIAutomation/APIAuto2">
        <classes>
            <class name="runners.JenkinRunner">
            </class>
        </classes>
    </test>
</suite>